body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background-color: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* .full-site {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
} */

.left-side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.ls-contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
.jump-link{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.jump-link li {
  list-style: none;
}
.jump-link li span.hovered-link {
  display: none;
}

.jump-link li:hover span.normal-link {
  display: none;
}

.jump-link li:hover span.hovered-link {
  display: inline;
  color: white;
}
.jump-link li a {
  color: #666e84;
  transition: 0.3s;
}
.jump-link a.active{
  color: white;
  font-weight: bold;
}
.bio {
  font-size: 18px;
  line-height: 1.6;
}
.right-side {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 40px;
  margin-left: 40vw;
  gap: 50px;
}
.about {
  display: grid;
  grid-template-areas: "title title title"
                        "pic bio bio";
  align-items: center;
  gap: 10px;
}
.about-title{
  grid-area: title;
}
.about-pic{
  grid-area: pic;
}
.about-bio{
  grid-area: bio;
  font-size: large;
}
.about-pic {
  text-align: left;
}

.about-pic img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.project {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  background-color: #1e293b;
  color: white;
  border: 1px solid #334155;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project:hover {
  background-color: #475569;
}
